:root {

  /* --- FONTS --- */
  @font-face {
    font-family: Inter;
    src: local("Inter"), url("./fonts/Inter-VariableFont_slnt,wght.ttf"), format("truetype");
    font-weight: 100 900;
  }
  font-size: 15px;
  font-family: Inter;
  text-rendering: geometricPrecision optimizeLegibility;

  /* --- COLOR PALETTE --- */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Blue: hsl(240, 100%, 50%);
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  user-select: none;
  transition: 0.5s ease;
}

body {
  background-color: var(--Very-dark-blue);
}

.blur {
  filter: blur(0.5rem);
}

.page {
  background-color: var(--Off-white);
  display: grid;
  grid-template: auto / repeat(3, minmax(0, 1fr));
  min-width: 20rem;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  float: left;
  margin: 1rem 0 0 1rem;
}

.menu {
  float: right;
  margin: 1.25rem 1rem 0 0;
}

.menu:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo,
.menu {
  width: 10%;
  height: auto;
}

.navbar {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  right: 0;
  top: 0;
  width: 66.66%;
  height: 100%;
  overflow: auto;
  background-color: var(--Off-white);
}

.modal ul li {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2.5rem;
  list-style: none;
}

.modal ul li:hover {
  cursor: pointer;
  transform: scale(1.1) translateX(0.5rem);
  color: var(--Soft-red);
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.closeBtn:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.article {
  grid-column: 1 / -1;
  margin: 0 1rem 2rem;
}

.article .text h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--Very-dark-blue);
}

.article .text p {
  color: var(--Dark-grayish-blue);
}

.article .text button {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  border: none;
  width: 11rem;
  height: 3rem;
  margin-top: 1rem;
}

.article .text button:hover {
  cursor: pointer;
  background-color: var(--Soft-red);
  transform: scale(1.05);
  box-shadow: 0 5px 5px var(--Very-dark-blue);
}

.aside {
  grid-column: 1 / -1;
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  margin: 1rem;
  padding: 1rem;
}

.aside h2 {
  color: var(--Soft-orange);
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
}

.aside h4 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem;
}

.aside h4:hover {
  cursor: pointer;
  color: var(--Soft-orange);
  transform: scale(1.025) translateX(0.25rem);
}

.aside p {
  color: var(--Grayish-blue);
  letter-spacing: 1px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.section {
  grid-column: 1 / -1;
  margin: 1rem 1rem 3rem;
}

.retro,
.laptop,
.gaming {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

:is(.retro, .laptop, .gaming) img {
  max-width: 33%;
  height: auto;
  object-fit: contain;
}

:is(.retro, .laptop, .gaming) .text {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

:is(.retro, .laptop, .gaming) .text h3 {
  color: var(--Grayish-blue);
  font-size: 1.5rem;
  margin: 0;
}

:is(.retro, .laptop, .gaming) .text h5 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0;
}

:is(.retro, .laptop, .gaming) .text h5:hover {
  cursor: pointer;
  color: var(--Soft-red);
  transform: scale(1.025);
}

:is(.retro, .laptop, .gaming) .text p {
  color: var(--Dark-grayish-blue);
}

.attribution {
  color: var(--Off-white);
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.attribution > a {
  color: var(--Blue);
}

@media screen and (width>500px) {
  .page {
    display: grid;
    grid-template: repeat(9, minmax(0, 1fr)) / repeat(10, minmax(0, 1fr));
    min-width: 60rem;
  }
  .header {
    grid-column: 2 / span 8;
    grid-row: 2;
    margin-top: 4rem;
  }
  .menu {
    display: none;
  }
  .navbar {
    display: block;
    float: right;
    margin: 1rem 1rem 0 0;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
  }
  .navbar ul li {
    color: var(--Dark-grayish-blue);
    text-decoration: none;
  }
  .navbar ul li:hover {
    cursor: pointer;
    color: var(--Soft-red);
    transform: scale(1.1);
  }
  .article {
    grid-column: 2 / span 5;
    grid-row: 3 / span 4;
    margin: 1rem;
  }
  .article .text {
    display: grid;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    text-align: left;
    margin: 1rem auto;
    padding: 0.5rem;
  }
  .article .text h1 {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  .article .text p {
    grid-column: 2;
    grid-row: 1;
  }
  .article .text button {
    grid-column: 2;
    grid-row: 2;
    margin: 1rem 0 0;
  }
  .aside {
    grid-column: 7 / span 3;
    grid-row: 3 / span 4;
  }
  .section {
    grid-column: 2 / span 8;
    grid-row: 7 / span 2;
    display: flex;
    flex-flow: row nowrap;
  }
  .section :where(.retro, .laptop, .gaming) {
    flex: 1 1 100%;
  }
  :is(.retro, .laptop, .gaming) img {
    max-width: 10rem;
    height: auto;
    object-fit: contain;
  }
}